/* Variables */
:root {
    --primary-color: #05172D;
    --secondary-color: #749228;
    --accent-color: #93B832;
    --background-color: #00172D;
    --text-color: #FFFFFF;
    --hover-color: #E0D410;
    --transition-duration: 0.3s;
}

/* General Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    overflow: auto;
}

/* Sticky Navigation Bar */
.sticky-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    color: var(--text-color);
    background-color: transparent;
    z-index: 1000;
    contain: layout;
    transition: background-color var(--transition-duration) ease, position var(--transition-duration) ease var(--transition-duration);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    max-width: 105rem;
    margin: 0 auto;
    background: inherit;
}

.nav__logo {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -0.3rem;
}

.nav__logo svg {
    fill: var(--text-color);
    transition: fill var(--transition-duration) ease;
}

.nav__links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav__links li {
    margin-left: 1.25rem;
    color: inherit;
}

.nav__links a {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    transition: color var(--transition-duration) ease, border-top var(--transition-duration) ease;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.nav__links a:hover {
    color: var(--secondary-color);
}

.nav__links li.active {
    color: var(--secondary-color);
}

.chevron-icon {
    width: 0.625rem;
    height: 0.9375rem;
    transition: transform var(--transition-duration) ease;
}

.nav__links a:hover .chevron-icon,
.nav__links li.active .chevron-icon {
    stroke: var(--secondary-color);
}

.nav__links li.active .chevron-icon {
    transform: rotateX(180deg);
}

.nav__right {
    display: flex;
    align-items: center;
}

.search-button {
    border: none;
    cursor: pointer;
    margin-right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(2.5rem, 5vw, 2.8125rem);
    height: clamp(2.5rem, 5vw, 2.8125rem);
    border-radius: 50%;
    background-color: var(--primary-color);
}

.contact-link {
    color: var(--text-color);
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: clamp(0.8rem, 0.8vw + 0.8125rem, 1rem);
    width: clamp(7.5rem, 22vw, 11.3125rem);
    padding: 0.8125rem 1rem;
    border-radius: 1.25rem;
    transition: background-color var(--transition-duration) ease;
}

.contact-link:hover {
    background-color: var(--secondary-color);
}

.menu-button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.625rem;
    line-height: 0;
}

.menu-bar {
    width: 1.5625rem;
    height: 0.1875rem;
    background-color: var(--text-color);
    position: relative;
    transition: transform var(--transition-duration) ease, opacity var(--transition-duration) ease, background-color var(--transition-duration) ease;
}

/* Dropdown Menu */
.services-dropdown {
    position: absolute;
    background-color: #FFFFFF;
    padding: 1.25rem;
    z-index: -1;
    overflow: auto;
    transition: top var(--transition-duration) ease, left var(--transition-duration) ease;
}

.dropdown-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 71.875rem;
    margin: 1.5625rem auto;
    gap: 1.25rem;
}

.services-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.services-dropdown ul li {
    margin: 0.625rem 0;
    max-width: 21.875rem;
}

.services-dropdown ul a {
    padding: 0.625rem 0;
    text-decoration: none;
    color: var(--primary-color);
    transition: color var(--transition-duration) ease;
}

.services-dropdown ul a:hover {
    color: var(--secondary-color);
}

.close-services {
    display: none;
}

figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
}

figure p {
    font-size: clamp(0.875rem, 1vw + 0.8125rem, 1rem);
    letter-spacing: -0.03125rem;
    margin: 0.3125rem 0;
    width: fit-content;
}

figure p:first-of-type {
    color: var(--primary-color);
}

figure p:last-of-type {
    color: #808E9B;
}

/* Banner Section */
.banner {
    position: relative;
    width: 100%;
    height: calc(100vh + 4.8125rem);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::after {
    background: linear-gradient(to right, var(--background-color), rgba(0, 24, 46, 0.5) 60%, rgba(255, 255, 255, 0));
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.banner__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: top;
    color: var(--text-color);
    transition: background 3s ease-in-out;
}

.banner__content {
    position: absolute;
    width: 100%;
    padding-left: 3.75rem;
    text-align: start;
    opacity: 0;
    z-index: 2;
    transition: opacity 3s ease-in-out;
}

.banner__content.active {
    opacity: 1;
}

.banner h1 {
    font-size: clamp(1.75rem, 5vw, 3rem);
    margin: 0;
    margin-bottom: -1.5625rem;
    margin-left: 0.3125rem;
}

.banner h2 {
    font-size: clamp(2.9rem, 10vw, 7.5rem);
    margin: 0;
    margin-left: -0.3125rem;
    margin-bottom: 1.5625rem;
    max-width: clamp(50rem, 90vw, 62.5rem);
}

.banner__content>p {
    margin: 1.5625rem 0;
    font-size: clamp(0.875rem, 1rem, 1rem);
    max-width: clamp(25rem, 50%, 29.75rem);
}

.cta-button {
    margin: 1.5625rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    gap: 0.625rem;
    padding: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.cta-button p {
    font-size: clamp(0.875rem, 1rem, 1rem);
    margin: 0;
    position: relative;
}

.cta-button p::after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    height: 0.0625rem;
    background-color: var(--text-color);
    bottom: -0.1875rem;
    left: 0;
}

.cta-button span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(2.1875rem, 4vw, 2.8125rem);
    height: clamp(2.1875rem, 4vw, 2.8125rem);
    border-radius: 50%;
    background-color: var(--hover-color);
    color: #000000;
}

.banner__indicators {
    position: absolute;
    bottom: 3.125rem;
    left: 3.75rem;
    display: flex;
    width: fit-content;
    justify-content: space-between;
    gap: 0.3125rem;
    z-index: 2;
}

.indicator {
    width: 1.875rem;
    height: 0.3125rem;
    border: none;
    border-radius: 0.3125rem;
    background: #024874;
    cursor: pointer;
    transition: background var(--transition-duration);
}

.indicator.active {
    background-color: var(--text-color);
}

/* Responsive Design */
@media (min-width: 768px) {
    .services-dropdown {
        right: 0;
        left: 0;
        top: -100vh;
        border-top: 0.0625rem solid black;
    }

    .services-dropdown.active {
        top: 4.8125rem;
    }
}

@media (min-width: 1200px) {
    .banner__wrapper {
        background-position: top;
    }

}

@media (min-width: 767px) and (max-width: 1199px) {
    .banner__wrapper {
        background-position: 80% center;
    }
}

@media (max-width: 767px) {
    .nav-container {
        border-bottom: 0px solid #808E9B;
        padding: 0.625rem;
    }

    .nav__links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 0.625rem;
        background-color: #FFFFFF;
        position: absolute;
        top: -100vh;
        left: 0;
        height: calc(100vh - 4.075rem);
        padding: 0;
        z-index: -1;
        transition: top var(--transition-duration) ease, left var(--transition-duration) ease;
    }

    .nav__links a {
        font-size: 1.8rem;
        color: var(--primary-color);
    }

    .nav__links.active {
        top: 4.075rem;
    }

    .nav__links li {
        margin: 0.625rem 0;
    }

    .nav__links .chevron-icon {
        transform: rotate(270deg);
        transition: transform var(--transition-duration) ease;
    }

    .nav__links a:hover .chevron-icon {
        transform: rotate(270deg) translateY(0.3125rem);
    }

    .menu-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.3125rem;
    }

    .menu-button.active .menu-bar:nth-child(1) {
        top: 0.3125rem;
        transform: rotate(45deg);
    }

    .menu-button.active .menu-bar:nth-child(2) {
        opacity: 0;
    }

    .menu-button.active .menu-bar:nth-child(3) {
        bottom: 0.625rem;
        transform: rotate(-45deg);
    }

    .services-dropdown {
        left: 100vw;
        bottom: 0;
        width: 100%;
    }

    .services-dropdown.active {
        left: 0;
    }

    .dropdown-content {
        flex-direction: column;
        gap: 1.25rem;
        margin-top: 1.875rem;
        position: relative;
    }

    .close-services {
        display: block;
        top: -2.1875rem;
        position: absolute;
        transform: rotateY(180deg);
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .banner__wrapper {
        background-position: 70% center;
    }

    .banner::after {
        background: linear-gradient(to right, var(--background-color), rgba(0, 24, 46, 0.5) 20%, rgba(255, 255, 255, 0));
    }

    .banner__content {
        padding: 0.9375rem 1.25rem;
    }

    .banner h1 {
        margin-bottom: -1.125rem;
    }

    .banner h2 {
        margin-bottom: 0.9375rem;
    }

    .banner__content>p {
        margin: 0.9375rem 0;
    }

    .banner__indicators {
        left: 1.25rem;
    }

    .cta-button {
        margin: 1.25rem 0;
    }

    .cta-button::after {
        bottom: 0.5rem;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .services-dropdown {
        top: 4.075rem;
        height: calc(100vh - 4.075rem);
    }
}

@media (max-width: 576px) {
    .nav__links {
        height: calc(100vh - 3.8rem);
    }

    .nav__links.active {
        top: 3.8rem;
    }

    .search-button {
        margin-right: 0.3125rem;
    }

    .contact-link {
        padding: 0.75rem;
        max-height: 2.5rem;
    }

    .services-dropdown {
        top: 3.8rem;
        height: calc(100vh - 3.8rem);
    }

    .banner h1 {
        margin-bottom: -0.9375rem;
    }

    .banner h2 {
        margin-bottom: 0.9375rem;
    }

    .banner__content>p {
        margin: 0.9375rem 0;
    }

    .banner__indicators {
        left: 50%;
        transform: translateX(-50%);
    }

    .cta-button::after {
        bottom: 0.625rem;
    }
}